@import "tailwindcss";

.scrollbar-hide {
  scrollbar-width: thin;         /* Firefox */
  scrollbar-color: transparent transparent;
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}